body {
  background-image: url('/images/bg3.png')
}

.content {
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  background-color: #fafafa;
  width: 70%;
  margin: 0 auto;
  padding: 25px;
  border-radius: 10px;
}

.nav {
  font-family: 'PT Serif', serif;
  font-size: 22px;
  padding: 10px;
}

h1 {
  font-family: 'PT Serif', serif;
}

h2 {
  font-family: 'PT Serif', serif;
}

h3 {
  font-family: 'PT Serif', serif;
}

.left {
  float: left;
}

.right {
  float: right;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid grey;
}

.quote {
  font-family: 'PT Serif', serif;
  font-size: 18px;
}

code {
  font-family: 'Oxygen Mono', monospace;
  font-size: 16px;
}

div.highlighter-rouge {
  background-color: #ffccff;
  padding-left: 7px;
}
